<h1>Reservation for <%=@restaurant.name%></h1>

<%= flash[:notice] %>

<%= form_for ([:restaurant, @reservation]) do |f| %>

<%=f.label :date%>
<%=f.text_field :date, :class => "datepicker" %>

<%=f.label :time%>
<%=f.select :time, [["7:00PM","7:00PM"],["8:00PM","8:00PM"],["9:00PM","9:00PM"],["10:00PM","10:00PM"]] %>

<%=f.label :people%>
<%=f.text_field :people %>

<p></p>

<%= f.submit "Create Reservation", :class => "btn btn-primary" %>

<%end%>
