<h1>Welcome!</h1>
<p>Here are a few Restaurants that may interest you!</p>


<table class = "table table-striped">
  <thead>
    <tr>
      <th><%= sortable "name", "Name" %> </th>
      <th><%= sortable "cuisine" %> </th>
      <th><%= sortable "rating" %> </th>
      <th><%= sortable "city" %> </th>
      <th><%= sortable "website" %> </th>
      <th><%= sortable "capacity" %> </th>
      <th>More Info!</th>
    </tr>
  </thead>

  <% for restaurant in @restaurants %>
    <tr>
      <td><%=restaurant.name%> </td>
      <td><%=restaurant.cuisine%></td>
      <td><%=restaurant.rating%></td>
      <td><%=restaurant.city%></td>
      <td><%=restaurant.website%></td>
      <td><%=restaurant.capacity%></td>
      <td><%= link_to "More Info", restaurant_path(restaurant) %></td>
    </tr>
  <%end%>

</table>