<h3><%=@restaurant.name%></h3>
<dl class = "dl-horizontal">
  <dt>Cusine:</dt>
  <dt>Rating:</dt>
  <dt>City:</dt>
  <dt>Website:</dt>
  <dt>Capacity:</dt>
  <dd><%=@restaurant.cuisine%></dd>
  <dd><%=@restaurant.rating%>  Stars</dd>
  <dd><%=@restaurant.city%></dd>
  <dd><%=@restaurant.website%></dd>
  <dd><%=@restaurant.capacity%></dd>
</dl>

<button class = "btn btn-primary"> 

  <% if user_session %>
    <%=link_to "Reserve"%>

  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <%end%>

</button>